.cookbook{
    color: #094416;
}
body{
    margin: 0;
    background-color: rgb(193, 228, 161);

}
.header{
    background-color: rgb(46, 80, 46);
    color:beige;
    display: flex;
    align-items: center;
    font-size: large;
    padding: 5px;
    justify-content: center;
}
a{
    text-decoration: none;
    color: beige;
}
.left, .right {
    display: flex;
  }

ul{
    list-style: none;
    display: flex;
    gap: 15px;
    margin-right: 15px;
}
.logo{
height: 10%;
width: 10%;
}
.info img{
  width: 300px;
  height:auto;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 0;
}

.container{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-direction: column;
}
.container div{

    border: 5px solid #094416;
    margin: 5px 20px;
    padding: 20px;
}
h2{
    text-align: center;
    color: #094416;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#accordion{
    width: 600px;
}
#accordion li{
    list-style: none;
    margin-bottom: 10px;
    background-color: #094416;
    color:rgb(193, 228, 161) ;
    border-radius: 4px;
}
#accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#accordion li label span{
    transform: rotate(90deg);
    font-size: 22px;
    color: beige;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#accordion label + input[type="radio"]{
    display: none;
}
#accordion .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
#accordion label + input[type="radio"]:checked + .content{
max-height: 400px;
}